{% extends 'base.html.twig' %}

{% block body %}

  <header class="masthead bg-primary text-white text-center">
    <div class="container">
      <div class="row">

        <!-- Footer Location -->
        <div class="col-lg-4 mb-5 mb-lg-0 box-home">
            <a href="/association/new"><button class="button"><b>REGISTRATI COME ASSOCIAZIONE</b></button></a>
            <a href="/volunteer/new"><button class="button"><b>DIVENTA VOLONTARIO!</b></button></a>
        </div>

        <div class="col-lg-8 mb-7 mb-lg-0">
          <div class="row">
            <div class="col-12 col-md-12 text-center">
              <h4><b>Scegli la provincia per visualizzare i servizi attivati!</b></h4>
            </div>
          </div>          
          <div class="only-desktop">  
            <img src="http://sportamiacasa.it/image/emilia-romagna.png" usemap="#image-map">
            <map name="image-map">
              <area alt="Piacenza" title="Piacenza" href="/association/index?country=3" coords="3,108,18,111,21,101,15,87,30,76,23,63,16,50,32,32,31,18,56,7,67,1,81,0,88,13,95,18,101,3,115,13,124,2,143,0,159,23,145,52,150,64,115,96,88,113,52,140,11,132,1,127,1,131" shape="poly">
              <area alt="Parma" title="Parma" href="/association/index?country=1" coords="55,143,44,174,72,173,92,184,118,162,145,170,146,179,172,193,191,164,208,151,222,137,229,99,225,82,240,52,220,37,181,22,164,23" shape="poly">
              <area alt="Reggio Emilia" title="Reggio Emilia" href="/association/index?country=2" coords="242,55,230,74,227,97,221,136,206,160,185,182,173,189,193,211,233,218,246,187,261,185,269,163,286,149,294,119,297,91,301,66,310,53,285,44,280,34" shape="poly">
              <area alt="Modena" title="Modena" href="/association/index?country=4" coords="234,222,257,251,290,244,304,220,321,221,324,201,337,188,330,166,342,148,358,134,343,119,355,87,385,81,397,70,375,56,373,43,343,41,325,44,313,54,305,65,293,118,290,142,271,163,265,179,245,193" shape="poly">
              <area alt="Bologna" title="Bologna" href="/association/index?country=5" coords="297,245,305,221,334,198,349,147,356,90,378,85,380,101,400,87,440,107,455,124,475,124,471,143,468,158,481,176,456,204,425,236,404,219,382,239,367,242,377,252,343,254,331,245,312,261" shape="poly">
              <area alt="Ferrara" title="Ferrara" href="/association/index?country=9" coords="378,85,398,70,376,50,405,42,434,54,449,58,471,40,533,39,553,52,566,48,584,86,564,76,560,93,559,118,561,124,539,145,518,143,511,129,482,141,471,141,472,120,454,122,441,106,401,84,379,97" shape="poly">
              <area alt="Ravenna" title="Ravenna" href="/association/index?country=8" coords="561,124,540,144,516,141,511,130,472,141,480,179,455,208,430,235,449,252,485,230,507,219,522,197,532,210,549,214,564,218,575,228,584,222" shape="poly">
              <area alt="Forlì Cesena" title="/association/index?country=7" href="" coords="465,249,495,230,518,198,553,222,582,226,594,235,594,253,580,261,584,277,564,293,542,296,530,335,496,328,460,306,452,290,446,277" shape="poly">
              <area alt="Rimini" title="/association/index?country=6" href="" coords="543,296,571,293,579,260,595,255,596,237,613,254,632,275,649,286,644,314,627,322,610,306,603,282,588,290,593,309,580,309,568,329,549,341,540,336,532,336" shape="poly">
            </map>
          </div>
          <div class="row only-mobile">
            <div class="col-12 col-md-12 text-center">
              <select id="country" style="width: 100%;">
                <option value="0">Seleziona la provincia...</option>
                <option value="3">Piacenza</option>
                <option value="1">Parma</option>
                <option value="2">Reggio Emilia</option>
                <option value="4">Modena</option>
                <option value="5">Bologna</option>
                <option value="6">Rimini</option>
                <option value="7">Forlì Cesena</option>
                <option value="8">Ravenna</option>
                <option value="9">Ferrara</option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
  <script>
    $('#country').on('change', function() {
      url = "/association/index?country=" + this.value;
      $(window.location).attr('href', url);
    });
  </script>
{% endblock %}