{% extends 'base.html.twig' %}

{% block title %}New Shop{% endblock %}

{% block body %}
    <header class="masthead bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 text-center">
          <button class="button" style="width: 350px; font-size: 22px;"><b>NEGOZI</b></button>
        </div>
      </div>
    {{ include('shop/_form.html.twig') }}
    <a href="{{ path('shop_index') }}">back to list</a>
    </div>
    </header>


{% endblock %}
