{% extends 'base.html.twig' %}

{% block title %}Diventa Volontario!{% endblock %}

{% block body %}

  <header class="masthead bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-12 text-center">
          <button class="button" style="width: 350px; font-size: 22px;"><b>GRAZIE!<br>TI CONTATTEREMO AL PIU' PRESTO!</b></button>
        </div>
      </div>
    </div>
  </header>
{% endblock %}